<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UESA</title>
    <link rel ="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="media/logo_uesar.png" width="auto" height="120px">
        </div> 
        <h1 class="titulo"> Unidad Educativa San Agustín A</h1>   
               
    </header>
    <section>
        <di class="contenido-hero ubicacion">
            <h2>Nivel Inicial y Primaria</h2>
        </di>
    </section>
    <div class="nav-bg">
        <nav class="navegacion_principal contenedor">
            <a href="index.html">Inicio</a>
            <a href="estudiantesg.html">Estudiantes</a>
            <a href="maestros.html">Maestros</a>
            <a href="lestudiantes.html">Lista Estudiantes</a>
            <a href="lmaestros.html">Lista Maestros</a>
            <a href="notas.html">Registrar Notas</a>
            <a href="vernotas.html">Calificaciones</a>
        </nav>
        
    </div>    
    <main class="contenedor sombra">
        
        <div class="container">
            <section class="area">
                <h2>Misión</h2>
                <p>Creamos las condiciones favorables para una educación integral y holística de los estudiantes mediante el desarrollo de capacidades, potencialidades y cualidades, formando niñas(os) críticos, reflexivos, creativos, propositivos, proactivos, solidarios, emprendedores y tolerantes, con el respeto a la vida, la interculturalidad, intraculturalidad, practicando valores socio comunitarios, caracterizados con un sentido de inclusión, equidad, igualdad, respeto, dignidad, libertad, honestidad y el amor a Dios, la Patria y a la Madre Tierra.</p>
            </section>
            <section class="area">
                <h2>Visión</h2>
                <p>Nos constituimos en una Unidad Educativa prestigiosa que alcanza fortalecer la formación integral y holística de los estudiantes, en la vida y para la vida, así como poner en práctica los valores sociocomunitarios en base a la inclusión, al respeto, la despatriarcalización, interculturalidad, intraculturalidad, reciprocidad, promoviendo el VIVIR BIEN, con la práctica de saberes ancestrales que orienta a la convivencia pacífica y armónica que preserva la integridad de la Madre Tierra y la educación productiva.
            </section>
            
        </div>
    </main>
</body>
<footer>
    <p>Todos los derechos reservador and@uesa.bo</p>
    <p>Creado por Fatima Luz Carrasco Condori</p>
</footer>
</html>